* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h3 {
    padding: 10px 20px;
}

.header {
    height: 80px;
    /* padding-top: 50px; */
    background-color: #fff;
    position: fixed;
    width: 100%;
    display: flex;
    /* justify-content: center; */
}

.dddd {
    display: flex;
    align-items: center;
}

.header .dddd > h2 {
    /* padding-top: 20px; */
    
    color: blue;
    font-weight: 600;

    font-size: xx-large;
    padding-left: 250px;
    padding-top: 10px;
}

.nav {
    /* flex: 1; */
    /* margin-top: 80px; */
    /* margin-top: -35px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 50px; */
    /* margin-left: -450px; */
    /* padding-left: 400px; */
    /* padding-left: 50px; */
    padding-top: 20px;
}

.nav > li {
    margin-left: 30px;
}

.nav > li > a {
    cursor: pointer;
}

.main_text1 {
    width: 100%;
    height: 1000px;
    background-color: #F1F2F3;
}

.main_text1 .text1 > h2 {
    padding-top: 150px;
    padding-left: 270px;
}

.main_text1 .today {
    margin-top: 30px;
    margin-left: 230px;
    width: 600px;
    height: 330px;
    background-color: #fff;
}

.main_text1 .today > iframe {
    margin-left: 20px;
}

.main_text1 .apply {
    width: 500px;
    margin-top: -330px;
    margin-left: 850px;
    height: 280px;
    background-color: #fff;
}

.main_text1 .apply > p {
    padding-left: 10px;
    font-size: 12px;
    color: gray;
}

.main_text1 .apply > form {
    color: gray;
    padding-left: 40px;
    padding-top: 50px;
}

.main_text1 .apply > form > input {
    width: 400px;
    height: 40px;
    color: gray;
    padding-left: 10px;
}

.main_text1 .apply > form .applybt {
    margin-top: 30px;
    width: 250px;
    height: 50px;
    background-color: #FF8C8C;
    margin-left: 80px;
    border-radius: 8px / 8px;
}

.main_text1 .apply > form > button:hover {
    background-color: #FF3232;
    cursor: pointer;
}

.main_text1 .apply > form > button {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
}

.main_text1 .tmr {
    margin-top: 70px;
    background-color: #fff;
    margin-left: 230px;
    width: 600px;
    height: 330px;
}

.main_text1 .today > iframe {
    padding-left: 30px;
    padding-top: 50px;
} 

.main_text1 .today > p {
    padding-top: 15px;
    padding-left: 45px;
}

.main_text1 .applist {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    width: 500px;
    height: 380px;
    margin-left: 850px;
    margin-top: -380px;
}
.main_text1 .btn_group{
    /* display: flex;
    align-items: flex-end; */
    display: flex;
    /* align-items: flex-end; */
    margin-left: 70%;
    margin-top: -20px;
}

#bt1, #bt2{
    text-align: right;
}

.main_text1 .applist #btn_group > button {
    border: 1px solid gray;
    color: gray;
    padding: 3px 20px;
    background-color: white;
}

#bt1 {
    margin-right: -6px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#bt2 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.main_text1 .applist #btn_group > button:hover {
    color: #fff;
    background-color: gray;
    cursor: pointer;
}

.main_text1 .applist > iframe {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

/* .main_text1 .applist p {
    font-size: 20px;
    color: black;
    width:150px;
    vertical-align:middle;
     overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
} */

.slist {
    margin-top: 20px;
    padding-left: 20px;
}

.slist > p {
    font-size: 12px;
    font-weight: bolder;
}

