* {
    margin: 0;
}

a {
    text-decoration: none;
}

header {
    width: 900px;
    height: 70px;
}

header #upload {
    position: absolute;
    width: 240px;
    height: 70px;
    left: 20px;
    top: 1px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

header > img {
    position: absolute;
    top: 20px;
    left: 865px;
    cursor: pointer;
}

#line {
    position: absolute;
    width: 900px;
    top: 71px;
    height: 454px;
    left: 0px;
    /* border: 1.5px solid rgba(196, 196, 196, 0.6); */
    /* border-radius: 10px; */
    border-top: 3px solid rgba(196, 196, 196, 0.6);
    border-bottom: 3px solid rgba(196, 196, 196, 0.6);
}

.detail > p {
    position: absolute;
    width: 181px;
    height: 22px;
    left: 46px;
    top: 61px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;

    color: #000000;
}

.detail .title {
    position: absolute;
    width: 420px;
    height: 80px;
    left: 45px;
    top: 104px;

    /* border: 1px solid #909090;
    box-sizing: border-box;
    border-radius: 5px; */
}

.detail .title > textarea {
    width: 420px;
    height: 80px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 25px; 

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #909090;
}

.detail .title > p {
    position: absolute;
    width: 84px;
    height: 14px;
    left: 15px;
    top: 8px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #606060;
}

.detail .exp {
    position: absolute;
    width: 420px;
    height: 183px;
    left: 45px;
    top: 209px;
}

.detail .exp > textarea {
    width: 420px;
    height: 183px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 25px; 

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #909090;
}

.detail .exp > p {
    position: absolute;
    width: 84px;    
    height: 14px;
    left: 15px;
    top: 8px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #606060;
}

/* .detail .exp #pexp {
    position: absolute;
    width: 304px;
    height: 80px;
    left: 13px;
    top: 10px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #909090;
} */

.detail .vdlk {
    position: absolute;
    width: 365px;
    height: 288px;
    left: 490px;
    top: 104px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.detail .vdlk > iframe {
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
}

.detail .vdlk #vlink {
    position: absolute;
    width: 93px;
    height: 20px;
    left: 16px;
    top: 223px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #949494;
}

.detail .vdlk #rlink {
    position: absolute;
    cursor: pointer;
    width: 320px;
    height: 32px;
    left: 17px;
    top: 241px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.detail .add > p {
    position: absolute;
    width: 91px;
    height: 27px;
    left: 755px;
    top: 74px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #000000;
}

.detail .add > img {
    cursor: pointer;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 840px;
    top: 80px;
}

#vector {
    position: absolute;
    width: 900px;
    height: 0px;
    left: 0px;
    top: 525px;

    border: 1.5px solid #C4C4C4;
}

footer .circ {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 545px;
}

footer .check {
    position: absolute;
    width: 11px;
    height: 8px;
    left: 20px;
    top: 551px;
    z-index: 9999999999;
}

footer #cp {
    position: absolute;
    width: 148px;
    height: 60px;
    left: 43px;
    top: 525px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #616161;
}

footer span button {
    position: absolute;
    width: 60px;
    height: 35px;
    cursor: pointer;
    left: 825px;
    top: 537px;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 9px;

    border: 0px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 3px 3px 1px #C4C4C4;

    color: #FFFFFF;
    background-color: #ffCE00;
}

footer span button:active {
    box-shadow: none;
    margin-left: 1px;
    margin-top: 1px;
}
